body {
  background-image: url('Imagens salvas/coisas do kaua/40f7d413b5497235afb7919ebfbf6462.gif'); /* O caminho da imagem */
  background-repeat: no-repeat;                   /* Não deixa a imagem repetir */
  background-attachment: fixed;                  /* A imagem fica parada ao fazer scroll */
  background-size: cover;                        /* Faz a imagem cobrir todo o ecrã */
  background-position: center;                   /* Centra a imagem */
}
